<!DOCTYPE html>
<html>

<head>
    <title>Pedro Martinez Aguado</title>
    <link rel="stylesheet" href="../public/stylesheets/obit-page.css">
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
</head>

<body>
    <div id="obit">
        <center>
            <div id="obit-container">
                <p id="fullname"> Pedro Mart&iacute;nez Aguado</p>

                <div id="maintext">
                    <p> Muri&oacute; a causa de un ataque de coraz&oacute;n. Su familia le quer&iacute;a mucho y el sab&iacute;a que eso era importante. La case de Pedro es grande y tiene muchos perros. Todos le echamos de menos.</p>
                    <p>
                        Este es otro parrafo. El diseno creo que es un poco feo. No crees? No estoy seguro de como anadir acentos tampoco. Cuando aprendera uno? Este es otro parrafo. El diseno creo que es un poco feo. No crees? No estoy seguro de como anadir acentos tampoco. Cuando aprendera uno?
                    </p>
                    <p> Muri&oacute; a causa de un ataque de coraz&oacute;n. Su familia le quer&iacute;a mucho y el sab&iacute;a que eso era importante. La case de Pedro es grande y tiene muchos perros. Todos le echamos de menos.</p>
                    <p id="date">15 de octubre, 2017</p>
                    <button id="candleButton">&nbsp;i&nbsp;</button>
                    <div id="attend">Attend</div>
                </div>
            </div>
        </center>
    </div>

</body>

</html>