body {
    font-family: 'EB Garamond', serif;
    font-weight: lighter;
    background: #F2F2F2;
    color: #626262;
}
#obit-container {
    border: 1px solid white;
    padding: 50px;
    position: relative;
    width: 50%;
    top: 100px;
    text-align: justify;
    background: #FFFFFF;
    transition: 0.4s;
}
#obit-container:hover {
    border: 1px solid gray;
}
#fullname {
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 100;
    text-align: right;
    color: black;
}
#date {
    text-align: right;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #525252;
}
#candleButton {
    position: absolute;
    border: 1px solid transparent;
    top: 100px;
    outline: none;
    font-size: 24px;
    font-family: serif;
    font-weight: 100;
    color: gray;
    cursor: pointer;
    background: #F2F2F2;
    transition: 0.4s;
    top:-1px;
    left:-1px;
}
#candleButton:hover {
    border: 1px solid gray;
}

#attend {
    position: absolute;
    top: -10px;
    right:-90px;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
    transition: 0.4s;
}

#attend:hover{
    text-decoration: underline;
    cursor: pointer;
}

